/*
    Color Palette:

    FF5959 - red-orange
    676FA3 - purple-grey
    CDDEFF - light blue
    EEF2FF - lightgreyish-blue

*/

$decoration: #FF5959;
$border: #CDDEFF;
$font-color: #676FA3;
$background: #EEF2FF;
$background-hover: #CDDEFF;
$chat-bg: #CDDEFF;